body {
    
    background-color: white;
    color: black;
    font-size: 25px;
    margin-top: 50px
  }
  
  .dark-mode {
    background-color: black;
    color: white;
  }

h2 {
    margin-top:40px;
    margin-bottom:40px;
}
